html {
	box-sizing: border-box;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'font', sans-serif;
}

.navi_info {
	display: inline;
	margin-right: 10px;
}

.photo {
	max-width: 200px;
}

.name {
	margin-bottom: 0;
	text-align: center;
}